*{
    font-family: 'Nunito', sans-serif;
}
.wrapper{
    background: #ececec;
}

/* Authentication */
.auth{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 20px;
}
.auth .row{
    width: 900px;
    height: 550px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
}
.auth .side-image{
    background-image: url("../img/login-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px 0 0 10px;
}
.auth img{
    width: 35px;
    position: absolute;
    top: 30px;
    left: 30px;
}
.auth i{
    font-weight: 400;
    font-size: 15px;
}
.auth .right{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.auth .input-box{
    width: 330px;
    box-sizing: border-box;
}
.auth .input-box header{
    font-weight: 700;
    text-align: center;
    margin-bottom: 45px;
}
.auth .input-field{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 0 10px;
    margin-bottom: 20px;
}
.auth .input{
    height: 45px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    outline: none;
    color: #40414a;
}
.auth .input-box .input-field label{
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    transition: .5s;
}
.auth .input-field .input:focus ~ label{
    top: -10px;
    font-size: 13px;
}
.auth .input-field .input:valid ~ label{
    top: -10px;
    font-size: 13px;
    color: #5d5076;
}
.auth .input-field .input:focus, .input-field .input:valid{
    border-bottom: 1px solid #743ae1;
}
.auth .submit{
    border: none;
    outline: none;
    height: 45px;
    background: #ececec;
    border-radius: 5px;
    transition: .4s;
}
.auth .submit:hover{
    background: rgba(37, 95, 156,0.9);
    color: #fff;
}
.auth .signin{
    text-align: center;
    font-size: small;
    margin-top: 25px;
}
.auth span a{
    text-decoration: none;
    font-weight: 700;
    color: #000;
    transition: .5s;
}
.auth span a:hover{
    text-decoration: underline;
    color: #000;
}

/* Home */
.home .sidebar
{
    background: rgb(25,146,212);
}
.home .content 
{
    min-height: 100vh;
    width: 100%;
}
.home .sidebar img,
.home .sidebar span,
.home .sidebar a
{
    color: #fff;
}










@media only screen and (max-width: 768px){
    /* Authentication */
    .auth .side-image{
        border-radius: 10px 10px 0 0;
    }
    .auth img{
        width: 35px;
        position: absolute;
        top: 20px;
        left: 47%;
    }
    .auth .text{
        position: absolute;
        top: 70%;
        text-align: center;
    }
    .auth .text p,i{
        font-size: 17px;
    }
    .auth .row{
        max-width: 420px;
        width: 100%;
    }
}

